<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.android.backend.dao.CourseBaseinfoMapper" >
  <resultMap id="BaseResultMap" type="com.android.backend.domain.CourseBaseinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weekfrom" property="weekfrom" jdbcType="INTEGER" />
    <result column="weekto" property="weekto" jdbcType="INTEGER" />
    <result column="weektype" property="weektype" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="lessonfrom" property="lessonfrom" jdbcType="INTEGER" />
    <result column="lessonto" property="lessonto" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, weekfrom, weekto, weektype, day, lessonfrom, lessonto, place
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_baseinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_baseinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.android.backend.domain.CourseBaseinfo" >
    insert into course_baseinfo (id, weekfrom, weekto, 
      weektype, day, lessonfrom, 
      lessonto, place)
    values (#{id,jdbcType=INTEGER}, #{weekfrom,jdbcType=INTEGER}, #{weekto,jdbcType=INTEGER}, 
      #{weektype,jdbcType=INTEGER}, #{day,jdbcType=VARCHAR}, #{lessonfrom,jdbcType=INTEGER}, 
      #{lessonto,jdbcType=INTEGER}, #{place,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.android.backend.domain.CourseBaseinfo" >
    insert into course_baseinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="weekfrom != null" >
        weekfrom,
      </if>
      <if test="weekto != null" >
        weekto,
      </if>
      <if test="weektype != null" >
        weektype,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="lessonfrom != null" >
        lessonfrom,
      </if>
      <if test="lessonto != null" >
        lessonto,
      </if>
      <if test="place != null" >
        place,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="weekfrom != null" >
        #{weekfrom,jdbcType=INTEGER},
      </if>
      <if test="weekto != null" >
        #{weekto,jdbcType=INTEGER},
      </if>
      <if test="weektype != null" >
        #{weektype,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="lessonfrom != null" >
        #{lessonfrom,jdbcType=INTEGER},
      </if>
      <if test="lessonto != null" >
        #{lessonto,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.android.backend.domain.CourseBaseinfo" >
    update course_baseinfo
    <set >
      <if test="weekfrom != null" >
        weekfrom = #{weekfrom,jdbcType=INTEGER},
      </if>
      <if test="weekto != null" >
        weekto = #{weekto,jdbcType=INTEGER},
      </if>
      <if test="weektype != null" >
        weektype = #{weektype,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="lessonfrom != null" >
        lessonfrom = #{lessonfrom,jdbcType=INTEGER},
      </if>
      <if test="lessonto != null" >
        lessonto = #{lessonto,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.android.backend.domain.CourseBaseinfo" >
    update course_baseinfo
    set weekfrom = #{weekfrom,jdbcType=INTEGER},
      weekto = #{weekto,jdbcType=INTEGER},
      weektype = #{weektype,jdbcType=INTEGER},
      day = #{day,jdbcType=VARCHAR},
      lessonfrom = #{lessonfrom,jdbcType=INTEGER},
      lessonto = #{lessonto,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>